html
    head 
        title forside
        link(rel="stylesheet", href="/css/styles.css")
        script(src="/js/submit.js" defer) 
    body 
        p Tillykke - du er nu logget ind med #{user.username}
        p her kan du 
            a(href='/users/logout') logge ud

        h2 Chats
        ul
            each chat in chats
                li
                    a(href='/chats/' + chat.id + '/view') #{chat.name}

                    if user.level === 3 || (user.level === 2 && chat.userId === user.id)

                        form(action="/chats/" + chat.id + "/update", method="post", style="display:inline")
                            input(type="text", name="name", placeholder="nyt navn")
                            button(type="submit") Gem

                        button.delete-btn(data-id=chat.id) Slet

        if user.level >= 2
            h3 Opret chat
            form(action="/chats", method="post")
                input(type="text", name="name", placeholder="chat navn")
                button(type="submit") Opret chat